body{
    padding: 20px;
    background-color: rgb(10, 3, 9);
    display: block;
    font-size: smaller;
}

button{
    padding: 20px;
    cursor: pointer;
}


button:hover {
 background-color: red;
}



.appcontainer{
    display: flex;
}


.productcontainer{
    background-color: rgb(129, 114, 224);
    border: 1px;
    border-radius: 9px;
    padding: 70px;
    box-shadow: 0 2px 4px;
    display: block;
}


.cartcontainer{
    background-color: rgb(196, 25, 2);
    border: 1px;
    display: block;
    border-radius: 9px;
    padding: 90px;
    box-shadow: 0 2px 4px;
}


.productcontainer{
    flex: 1;
    max-width: 400px;
}

.item{
    margin-bottom: 20px;
}

.cart{
    margin-bottom: 20px;
    margin: 0;
    font-size: small;
}

.total{
    display: block;
    background-color: rgb(12, 194, 21);
    padding: 100px;
    color: rgb(9, 10, 10)
    
    
}